package main

import "github.com/go-pg/pg/v10"

var stockApiUrl = "https://api.example.com/v1/stocks/"

var pgOpts pg.Options = pg.Options{
	Addr:     "localhost:5432",
	Database: "dbname",
	Password: "dbpass",
	User:     "dbuser",
}

var botToken = ""
var chatId = 12345
